.login-details {
  width: 70%;
  display: inline-block;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background: url("../img/bg-login.jpg");
  background-size: cover;
  vertical-align: top;
  position: relative;

  & > .login-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    left: 0;
  }
}
