.main-header {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  padding-left: 50px;
  & > .navbar {
    padding: 0 24px !important;
    background: $white;
    height: 50px;
    display: block;
    border-bottom: 1px solid $color-primary-lighten;
    box-shadow: 0 4px 8px 0 rgba($color-primary-lighten, 0.05);
  }
}
