.user-detail {
  margin-left: auto;
  cursor: pointer;
  padding: 8px 24px 8px 8px;
  position: relative;
  transition: 500ms all ease;
  user-select: none;
  &:hover {
    background: rgba($color-primary, 0.02);
  }
  &.active {
    background: rgba($color-primary, 0.1);
    & > .icon {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }
  }

  & > .icon {
    transform: 500ms all ease;
    fill: $color-primary;
    position: absolute;
    display: block;
    top: 20px;
    right: 8px;
    width: 10px;
    height: 10px;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}
