.menu-icon {
  fill: $loblolly;
  width: 24px;
  height: 24px;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon-empty {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  transition: 500ms all ease;
}

.icon-circle {
  height: 30px;
  width: 30px;
}
