.box-info{
  padding: 5px;
}
.box-info .feed-profile {
  max-width: 50px;
  min-width: 50px;
  margin-right: 10px;
}

.box-info h5 {
  margin-bottom: 0;
  color: #555;
}
.box-info .full-date {
  font-size: 0.85em;
  color: #aaa;
  font-weight: 300;
}

.box-info .CTAs {
  margin-top: 5px;
}

.box-info .CTAs a {
  font-size: 0.7em;
  padding: 3px 8px;
  margin-right: 5px;
}

.box-info .CTAs a i {
  margin-right: 5px;
}

.box-info .quote {
  background: #fafafa;
  margin-top: 5px;
  border-radius: 0;
  padding: 15px;
  margin-left: 60px;
}

.box-info .quote small {
  font-size: 0.75em;
  color: #777;
}

.box-info .date {
  font-size: 0.9em;
  color: #aaa;
}
