.btn-main {
  border-radius: 20px;
  background: $cardinal;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

.btn-secondary {
  border-radius: 20px;
  background-color: $merlot;
  color: #ffffff;
}

.btn-cancel {
  border-radius: 20px;
  background-color: #b8b8b8;
  color: #ffffff;
}
