.search-listing-icon {
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}

.search-listing-input {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.search-listing-add {
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
}
