@font-face {
    font-family: 'K2D';
    src: local('K2D SemiBold'), local('K2D-SemiBold'),
        url('K2D-SemiBold.woff2') format('woff2'),
        url('K2D-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Bold Italic'), local('K2D-BoldItalic'),
        url('K2D-BoldItalic.woff2') format('woff2'),
        url('K2D-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Bold'), local('K2D-Bold'),
        url('K2D-Bold.woff2') format('woff2'),
        url('K2D-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Italic'), local('K2D-Italic'),
        url('K2D-Italic.woff2') format('woff2'),
        url('K2D-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Light'), local('K2D-Light'),
        url('K2D-Light.woff2') format('woff2'),
        url('K2D-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D SemiBold Italic'), local('K2D-SemiBoldItalic'),
        url('K2D-SemiBoldItalic.woff2') format('woff2'),
        url('K2D-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Regular'), local('K2D-Regular'),
        url('K2D-Regular.woff2') format('woff2'),
        url('K2D-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Medium'), local('K2D-Medium'),
        url('K2D-Medium.woff2') format('woff2'),
        url('K2D-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Light Italic'), local('K2D-LightItalic'),
        url('K2D-LightItalic.woff2') format('woff2'),
        url('K2D-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'K2D';
    src: local('K2D Medium Italic'), local('K2D-MediumItalic'),
        url('K2D-MediumItalic.woff2') format('woff2'),
        url('K2D-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

