.app-list > .sub-header {
  padding: 8px 16px;
  border-bottom: 1px solid rgba($black, 0.1);
  .total-group-title {
    font-size: 10px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
  }
}
