.ReactVirtualized__Table__headerRow{
  background: #ecf0f1;
}
.ReactVirtualized__Table__Grid:focus, .ReactVirtualized__Table__row:focus{
    outline: none;
}
.ReactVirtualized__Table__row a{
}
.ReactVirtualized__Table__row.active h3, .ReactVirtualized__Table__row.active small{
    color: #fff;
}
.ReactVirtualized__Table__row.active a h3{
    color: #fff;
}
.ReactVirtualized__Table__row.table-row-odd {
  background: $lightest-color;
}
.ReactVirtualized__Table__row.active{
  background-color: #175fcc;
  color: #fff;
}
.ReactVirtualized__Table__row:hover{
  cursor: hand;
  cursor: pointer;
}
.ReactModal__Overlay{
    z-index: 1050;
} 
.ReactVirtualized__Table__rowColumn {
	white-space: normal !important;
}
.react-virtualized-scroll{
  overflow: auto !important;
  height: 60px;
}
